body {
	background-color: white;
	color: black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
		h1, h2, h3, h4, h5 {
			font-family: 'Barlow', sans-serif;
			text-transform: uppercase;
			color: rgb(191, 146, 91);
			margin: 0px;
			text-align: center;
		}
		h2 {
			font-size: 38px;
			color: black;
		}
		h3 {
			font-size: 32px;
		}
		p {
			font-family: 'Roboto Condensed', sans-serif;
			padding: 0px 10px 0px 10px;
			margin: 0px;
		}
		ul {
			color: rgb(191, 146, 91);
			text-decoration: none;
			margin: 0px;
			padding: 0px;
			list-style: none;
			li {
				a {
					color: rgb(191, 146, 91);
					text-decoration: none;
				}
				color: rgb(191, 146, 91);
				text-decoration: none;
			}
		}
	header {
		position: sticky;
		top: 0px;
		text-align: center;
		background-color: gray;
		margin: 0px;
		z-index: 10;
		border-bottom: 2px solid rgb(191, 146, 91);
		
		h1 {
			padding: 0px;
			margin: 0px 0px 0px 0px;
			color: white;
		}

	}
	main {
		width: 100%;
		height: 100%;

		.banner {
			width: 100%;
			height: 90vh;
			min-height: 460px;
			background-color: black;
			margin: auto;

			.banner_image {
				width: 100%;
				height: 100%;
				background-image: url(images/20180822_105452.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
				opacity: 80%;
			}
			.banner_text {
				position: absolute;
				top: 20%;
				left: 25%;
				text-align: center;
				width: 50%;
				
				h2 {
					color: white;
					font-size: 36px;
				}
				img {
					height: auto;
					width: 100%;
					border-radius: 15px;
				}
			}
		}
		.grid_container {
			height: 100%;
			min-height: 50vh;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 20px;
			background-color: white;
			display: grid;
			text-align: center;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 75px 30px repeat(1, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			.grid_item_1 { 
				grid-area: 1 / 1 / 2 / 6; 
				align-self: center;
				padding-bottom: 7px;
				border-bottom: 2.5px solid gray;
				color: black;
			}
			.grid_item_2 {
				grid-area: 2 / 1 / max / 2;
				position: sticky;
				top: 75px;
				left: 0;
				align-self: start;

				ul {
					text-align: left;
					margin: 0px;
					padding: 0px;

					li {
						margin: 15px 7.5px;
						a {
							&:hover {
								color: black;
							}
						}
					}
				}
				.button_ul {
					border-bottom: 1px solid gray;
					width: 80%;;

					li {
						margin: 10px 0px 10px 7px;

						a {
							color: rgb(191, 146, 91);
							font-size: 18px;

						}
						#active {
							color: black;
						}
					}
				}
			}
			.grid_item_3 {
				grid-area: 2 / 2 / 4 / 6;
				width: 95%;
				height: 100%;
				margin: 0px;
				padding: 0px;

				p {
					margin-top: 20px;
					font-size: 20px;
				}
			}
			.grid_item_3_cv {
				grid-area: 2 / 2 / 3 / 6;
				a {
					font-size: 18px;
					color: rgb(191, 146, 91);
					text-decoration: none;
					margin: 10px;
					&:hover {
						color: black;
					}
				}
			}
			.grid_item_4_cv {
				grid-area: 3 / 2 / 4 / 6;
				width: 95%;
				height: 100%;
				margin: 0px;
				padding: 0px;
			}
		}
	}
	.cv_main {
		height: 100vh;
	}
	.black {
		color: black;
	}

}
@media screen and (min-width: 500px) {
		body {
			background-color: lightgray;

			.grid_container {
				height: 200%;
				width: 85%;
				padding: 0px 2.5%;
				box-shadow: 0px 0px 5px 0px black;
				margin-top: 20px;
			}
			.banner {
				margin-bottom: 20px;

				.banner_text {

					h2{
						white-space: nowrap;
					}
					img {
						max-width: 300px;
					}
				}
			}
			header {
					padding: 5px 0px;
			}
		}
}